<!DOCTYPE html>

<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Bond of a Pyromancer</title>
		<link href="../w3.css" rel="stylesheet" />
		<script src="../angular.min.js"></script>
		<script src="data.js"></script>
		<script src="../darksoulsknightshonor/darksoulsdatahandler.js"></script>
	</head>
	
	<body>
	
	<!-- Angular bit: -->
	
	<div data-ng-app="darksoulschecklist" data-ng-controller="checklistcontroller" class="container">
	
		<nav class="w3-bar w3-black w3-top">
			
			<div class="3w-bar w3-black">
				<a class="w3-bar-item w3-button" href="../">Main</a>
				
				<a class="w3-bar-item w3-button w3-hide-small" href="../darksoulsbondofapyromancer">Bond of a Pyromancer</a>
				<a class="w3-bar-item w3-button w3-hide-small" href="../darksoulsknightshonor/">Knight's Honor</a>
				<a class="w3-bar-item w3-button w3-hide-small" href="../darksoulsprayerofamaiden">Prayer of a Maiden</a>
				<a class="w3-bar-item w3-button w3-hide-small" href="../darksoulswisdomofasage">Wisdom of a Sage</a>
				
				<!--Button to trigger wide screen bar -->
				<button class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" 
					data-ng-click="hideNavList = !hideNavList">&#9776;</button>
			</div>
			
			<!--Rest of navbar-->
			<div ng-hide="hideNavList" >
				<div class="w3-bar-block w3-block w3-hide-large w3-hide-medium">
					<a class="w3-bar-item w3-button" href="../darksoulsbondofapyromancer">Bond of a Pyromancer</a>
					<a class="w3-bar-item w3-button" href="../darksoulsknightshonor/">Knight's Honor</a>
					<a class="w3-bar-item w3-button" href="../darksoulsprayerofamaiden">Prayer of a Maiden</a>
					<a class="w3-bar-item w3-button" href="../darksoulswisdomofasage">Wisdom of a Sage</a>
				</div>
			</div>
		</nav>
	
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<!--Put some info here since this is where the bootstrap container is-->
		<div class="w3-container">
		
		<h1>Dark Souls Bond of a Pyromancer Achievement Checklist</h1>
		
			<h3>Notes:</h3>
			<ul>
				<li>Click the weopon name to display additional info.</li>
				<li>Laurentius is found in the depths in a room of barrels by some butchers. He will then be at Firelink Shrine.</li>
				<li>Quelana is in Blighttowns swamp by the elevator. You need a at least a +10 pyromancy flame.</li>
				<li>To get egged to buy Eingyi's items, just chill by an infected dude, tap him, got bitten on the head, and wait about 10 minutes.</li>
				<li>Information gathered from darksouls.wiki.fextralife.com.</li>
				<li>Deleting browser data will remove this apps checklist data.</li>
			</ul>
		
					<table class="w3-table w3-striped w3-border">
					
						<tr data-ng-repeat="item in items">
						
						<td data-ng-click="displayModal(item.description, item.item)">
							<label>{{item.item}}</label>
						</td>
						
						<td>
							<input type="checkbox" class="w3-check" data-ng-checked="isChecked(item.item)" data-ng-click="changeKey(item.item)"/>
						</td>
						</tr>
						
						
					
					</table>
			
		
		</div>
		<!-- Modal -->
		<div class="w3-modal" ng-style="modalDisplayValue" >
			
				<div class="w3-modal-content">
				
					<div class="w3-container">
						
							<button type="button" class="w3-button w3-display-topright w3-red" 
								data-ng-click="hideModal()">&times;</button>
							<h3>{{selectedItemName}}</h3>
						
							
							<textarea class="w3-input" rows="8" disabled>{{selectedItemInfo}}</textarea>
						
							<div class="w3-panel">
							
							</div>
						
					</div>
				
				</div>
		</div>
		
	</div>

	</body>
	
</html>