<DOCTYPE html>

<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Bond of a Pyromancer</title>
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<script src="../jquery.js"></script>
		<script src="../bootstrap/js/bootstrap.min.js"></script>
		<script src="../angular.min.js"></script>
		<script src="data.js"></script>
		<script src="../darksoulsknightshonor/darksoulsdatahandler.js"></script>
	</head>
	
	<body>
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="../">Main</a>
					
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hiddenNavBar">
					<span class="icon-bar"></span> <span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
				
				</div>
				<!--Rest of navbar-->
				<div class="collapse navbar-collapse" id="hiddenNavBar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="../darksoulsbondofapyromancer">Bond of a Pyromancer</a></li>
						<li><a href="../darksoulsknightshonor/">Knight's Honor</a></li>
						<li><a href="../darksoulsprayerofamaiden">Prayer of a Maiden</a></li>
						<li><a href="../darksoulswisdomofasage">Wisdom of a Sage</a></li>
					</ul>
				</div>
			</div>
	</nav>
	
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	
	<!-- Angular bit: -->
	
	<div data-ng-app="darksoulschecklist" data-ng-controller="checklistcontroller" class="container">
	
		<!--Put some info here since this is where the bootstrap container is-->
		<div class="page-header">
			<h1>Dark Souls Bond of a Pyromancer Achievement Checklist</h1>
		</div>
		<h3>Notes:</h3>
		<ul>
			<li>Click the weopon name to display additional info.</li>
			<li>Laurentius is found in the depths in a room of barrels by some butchers. He will then be at Firelink Shrine.</li>
			<li>Quelana is in Blighttowns swamp by the elevator. You need a at least a +10 pyromancy flame.</li>
			<li>To get egged to buy Eingyi's items, just chill by an infected dude, tap him, got bitten on the head, and wait about 10 minutes.</li>
			<li>Information gathered from darksouls.wiki.fextralife.com.</li>
			<li>Deleting browser data will remove this apps checklist data.</li>
		</ul>
	
		<div data-ng-repeat="item in items" class="form-horizontal">
			<div class="form-group well well-sm">
			
				<div class="col-xs-8 col-sm-6" data-ng-click="changeInfo(item.description, item.item)" data-toggle="modal" data-target="#infoModal">
				<label class="control-label input-lg">{{item.item}}</label>
				</div>
				<div class="col-xs-4 col-sm-6">
					<input type="checkbox" class="btn-block input-lg" data-ng-checked="isChecked(item.item)" data-ng-click="changeKey(item.item)"/>
				</div>
			</div>
		</div>
		
		<!-- Modal -->
		<div id="infoModal" class="modal" role="dialog">
			
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 id="modalHeader"></h3>
					</div>
					
					<div class="modal-body">
						<textarea class="form-control" rows="8" id="info" disabled></textarea>
					</div>
					<div class="modal-footer">
					
					</div>
				</div>
			</div>
			
		</div>
		
	</div>

	
	
</html>